.container {
    text-align: center;
}

.header {
    height: 50px;
    border-bottom: 1px solid #222;
}

.content {
    display: grid;
    grid-template-columns: 50% 50%;
}

.content .viewer {
    height: 750px;
    border-right: 1px solid #222;
}

.content .chooser {
    height: 750px;
}