.filter-controls{
    text-align: left;
    margin-left: 20px;
}

.filter-control{
    margin: 20px 0;
    padding: 20px 0;
    border-bottom: 1px solid #222222;
}

.filter-control label{
    font-weight: bold;
    display: inline-block;
    width: 60px;
}

.filter-control input{
    text-align: right;
}